<h1>Adoption requests (only admins)</h1>
<div>
  {{#each adoptionRequests}}
    <a href="/adoption-requests/{{this.userId}}_{{this.dogId}}">
      {{this.adopterAge}}
      years -
      {{this.user.email}}
      wants to adopt
      {{this.dog.dogName}}
    </a>
    <br>
  {{/each}}
</div>