<h1>Approved Adoption Requests</h1>
<div>
  {{#each adoptionRequests}}
    {{#if this.requestApproved}}
      <a href="/adoption-requests/{{this.userId}}_{{this.dogId}}">
        {{this.user.firstName}}
        {{this.user.lastName}}
        has adopted
        {{this.dog.dogName}}
      </a>
      <br />
    {{/if}}
  {{/each}}
</div>