<h1>Pending Adoption Requests</h1>
<div>
  {{#each adoptionRequests}}
    {{#unless this.requestApproved}}
      <a href="/adoption-requests/{{this.userId}}_{{this.dogId}}">
        {{this.adopterAge}}
        years -
        {{this.user.email}}
        would like to adopt
        {{this.dog.dogName}}
      </a>
      <br />
    {{/unless}}
  {{/each}}
</div>