<h1>Dogs in adoption</h1>
<div>
  <ul>
    {{#each dogs}}
      <li class="singleDog">
        <a href="/dog/{{this.id}}">
          {{#if this.dogPhotoURL}}
            <img
              src={{this.dogPhotoURL}}
              alt={{this.dogBreed}}
              width="200px"
              style="border-radius: 100%;"
            />
          {{/if}}<br />
          {{this.dogName}}
          -
          {{this.dogAge}}
          year(s)
        </a>
      </li>
    {{/each}}
  </ul>
</div>