<h1>Our dogs</h1>
<div id="dogsList">
  <ul>
    {{#each dogs}}
      <li class="singleDog">
        <a href="/dog/{{this.id}}">
          {{#if this.dogPhotoURL}}
            <img
              src={{this.dogPhotoURL}}
              alt={{this.dogBreed}}
              width="200px"
              style="border-radius: 20%;"
            />
          {{/if}}<br />
          {{this.dogName}}
          -
          {{this.dogAge}}
          year(s)
        </a><br />
        Dog Adopted:
        {{this.dogAdopted}}<br />
        {{this.dogBreed}}
        -
        {{this.dogWeight}}
        kg
      </li>
    {{/each}}
  </ul>
</div>