<h3>Our dogs</h3>
<div>
  <ul id="dogsList">
    {{#each dogs}}
      <li class="singleDog">
        <a href="/dog/{{this.id}}">

          {{#if this.dogPhotoURL}}

            <div class="dogImageContainer">
              <img src={{this.dogPhotoURL}} alt={{this.dogBreed}} />
            </div>
          {{/if}}

          <div class="dogInfo">
            {{this.dogName}}
            -
            {{this.dogAge}}
            year(s)<br />
            {{this.dogBreed}}
            -
            {{this.dogWeight}}
            kg<br />
            {{#if this.dogAdopted}}
              <b>Adopted</b>
            {{/if}}
          </div>

        </a>
      </li>
    {{/each}}
  </ul>
</div>