<h3>My Profile</h3>
<p class="content">First Name: {{user.firstName}}</p>
<p class="content">Last Name: {{user.lastName}}</p>
<p class="content">Email: {{user.email}}</p>
<p class="content">Phone Number: {{user.phoneNumber}}</p>
<p class="content">User ID: {{user.id}}</p>
<p class="content">Admin Rights: {{user.isAdmin}}</p>