<p>Dog Name: {{dog.dogName}}</p>
<p>Dog Age: {{dog.dogAge}} years</p>
<p>Dog Weight: {{dog.dogWeight}} kilos</p>
<p>Dog Sex: {{dog.dogSex}}</p>
<p>Dog Breed: {{dog.dogBreed}}</p>
<p>Is this dog suitable for kids? {{dog.suitableForKids}}</p>
<p>Is this dog suitable for other pets? {{dog.suitableForOtherPets}}</p>
<p>Dog Description: {{dog.dogDescription}}</p>