<div class="singleDogForUsers">
  <div>
    <p>Dog Name: {{dog.dogName}}</p>
    <p>Dog Age: {{dog.dogAge}} years</p>
    <p>Dog Weight: {{dog.dogWeight}} kilos</p>
    <p>Dog Sex: {{dog.dogSex}}</p>
    <p>Dog Breed: {{dog.dogBreed}}</p>
    <p>Is this dog suitable for kids? {{dog.suitableForKids}}</p>
    <p>Is this dog suitable for other pets? {{dog.suitableForOtherPets}}</p>
    <p>Dog Description: {{dog.dogDescription}}</p>
  </div>

  <div>
    {{#if dog.dogPhotoURL}}
      <img
        src="{{dog.dogPhotoURL}}"
        alt="{{dog.dogBreed}}"
        height="250px"
        style="border-radius: 10%;"
      />
    {{/if}}
  </div>
</div>

{{#unless dog.dogAdopted}}
  <div>
    <a href="/request-dog/{{dog.id}}">
      <button>Request Adoption for this Dog</button>
    </a>
  </div>
{{/unless}}

<div>
  <a href="/dog/pending">
    <button>View All Dogs</button>
  </a>
</div>

{{#if user.isAdmin}}
  <div>
    <a href="/update-dog/{{dog.id}}">
      <button>Update Dog Details</button>
    </a>
  </div>

  <div>
    <form action="/dog/delete/{{dog.id}}?_method=DELETE" method="post">
      <button>Delete Dog from Database</button>
    </form>
  </div>
{{/if}}