<p>Dog Name: {{dog.dogName}}</p>
<p>Dog Age: {{dog.dogAge}} years</p>
<p>Dog Weight: {{dog.dogWeight}} kilos</p>
<p>Dog Sex: {{dog.dogSex}}</p>
<p>Dog Breed: {{dog.dogBreed}}</p>
<p>Is this dog suitable for kids? {{dog.suitableForKids}}</p>
<p>Is this dog suitable for other pets? {{dog.suitableForOtherPets}}</p>
<p>Dog Description: {{dog.dogDescription}}</p>

<div>
  {{#if dog.dogPhotoURL}}
    <img
      src="{{dog.dogPhotoURL}}"
      alt="{{dog.dogBreed}}"
      width="200px"
      style="border-radius: 10%;"
    />
  {{/if}}
</div>

<div>
  <a href="/update-dog/{{dog.id}}">
    <button>Update dog details</button>
  </a>
</div>

<div>
  <a href="/request-dog/{{dog.id}}">
    <button>Request the adoption for this dog</button>
  </a>
</div>

<div>
  <form action="/dog/delete/{{dog.id}}?_method=DELETE" method="post">
    <button>Delete</button>
  </form>
</div>

<div>
  <a href="/dog/">
    <button>Return and view all dogs</button>
  </a>
</div>