<p>Name: {{dog.dogName}}</p>
<p>Age: {{dog.dogAge}} years</p>
<p>Weight: {{dog.dogWeight}} kilos</p>
<p>Sex: {{dog.dogSex}}</p>
<p>Breed: {{dog.dogBreed}}</p>
<p>Suitable with kids: {{dog.suitableForKids}}</p>
<p>Suitable with other pets: {{dog.suitableForOtherPets}}</p>
<p>Description: {{dog.dogDescription}}</p>