<h3>User Profile</h3>
<p class="content">First Name: {{userById.firstName}}</p>
<p class="content">Last Name: {{userById.lastName}}</p>
<p class="content">Email: {{userById.email}}</p>
<p class="content">Phone Number: {{userById.phoneNumber}}</p>
<p class="content">User ID: {{userById.id}}</p>
<p class="content">Admin Rights: {{userById.isAdmin}}</p>

{{#unless userById.isAdmin}}
  <div>
    <form action="/user/{{userById.id}}?_method=PUT" method="post">
      <button>Give Admin Rights</button>
    </form>
  </div>
{{/unless}}

<div>
  <a href="/user">
    <button>View All Users</button>
  </a>
</div>